{% extends 'base-menu.html' %}
{% block innercontent %}

    <h1>{{ currentchallenge.name }}</h1>
    <p>This is the sixth challenge. To complete this challenge, the right password should be entered in the field below!
        The system administrator encrypted the password once more, this time the decryption is again server-side.
    He looked up a better encryption scheme and implemented that, the encoder is still on the website.</p>

    <p>V4znglnx_Tw-X0lftiw!</p>

    <p>Encoder:</p>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="decipher" />
        <input type="submit" value="Enter" />
    </form>
    </br>
    {% if decoded %}
    The coded string is: {{ decoded }}
    {% endif %}

    <p>Password:</p>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <input type="password" name="code" />
        <input type="submit" value="Enter" />
    </form>

{% endblock %}