<script>
    eval(function(p,a,c,k,e,d){e=function(c){return c};if(!''.replace(/^/,String)){while(c--){d[c]=k[c]||c}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('0.1="2 = 3"',4,4,'document|cookie|level_completed|false'.split('|'),0,{}))
</script>
{% extends 'base-menu.html' %}
{% block innercontent %}

    <h1>{{ currentchallenge.name }}</h1>
    <p>This is the seventh challenge. This time the system administrator decided he had enough of passwords.
        He got this idea while his hand was stuck in some kind of jar.</p>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <input type="submit" value="Enter" />
    </form>

{% endblock %}